/** functions */
html {
  overflow-y: overlay;
}
html.is-loading {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(26, 148, 255, 0.45);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #1a94ff;
}

body {
  font-family: "Alata", sans-serif;
  color: #333;
}
@supports (-ms-ime-align: auto) {
  body > main {
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
}

figure,
.figure {
  width: 100%;
}
figure img,
.figure img {
  width: 100%;
  display: block;
}

.nav-link {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
@media only screen and (min-width: 1025px) {
  .nav-link {
    transition: all 150ms ease;
  }
  .nav-link:hover {
    opacity: 0.75;
  }
}

.hr {
  border-top-color: #1a94ff;
}

.title {
  font-size: 20px;
  color: #1a94ff;
}

.align-center {
  text-align: center !important;
}
.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right !important;
}

.container {
  width: 1160px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.container--mini {
  width: 600px;
}

input,
.input {
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: 300;
  background-color: #fff;
  border-radius: 4px;
  border: 0;
  outline: none;
  font-family: inherit;
  color: #333;
  padding: 6px 14px;
  margin: 2px;
}
input::placeholder,
.input::placeholder {
  color: #ccc;
  opacity: 1;
}
input:focus,
.input:focus {
  box-shadow: 0 0 4px 1px #1a94ff;
}

button,
.button {
  border: 0;
  outline: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  background-color: transparent;
  padding: 6px 14px;
  cursor: pointer;
}

@keyframes ani_fav {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.85);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #9be2f5;
}
.nav > .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav__brand {
  font-size: 40px;
  color: #1a94ff;
}
.nav-toggler {
  display: none;
  width: 35px;
  height: 35px;
  margin-left: auto;
  position: relative;
}
.nav-toggler span {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 2px;
  display: block;
  border-radius: 1px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  transition: all 150ms ease;
}
.nav-toggler span:nth-child(1) {
  top: 32%;
}
.nav-toggler span:nth-child(2) {
  top: 50%;
}
.nav-toggler span:nth-child(3) {
  top: 68%;
}
.nav-toggler.is-active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}
.nav-toggler.is-active span:nth-child(2) {
  opacity: 0;
}
.nav-toggler.is-active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
}
.nav-user {
  margin-left: 20px;
  position: relative;
}
.nav-user .button {
  min-width: 100px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #1a94ff;
  background-color: #1a94ff;
  transition: all 150ms ease;
}
.nav-user .button:hover {
  color: #1a94ff;
  background-color: #fff;
}

.user {
  position: relative;
}
.user::after {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: -20px;
  left: 0;
}
.user-infor {
  width: 100%;
  max-width: 180px;
  font-size: 14px;
  text-align: left;
}
.user-infor span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.user:hover .user__container {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}
.user__container {
  position: absolute;
  width: 220px;
  top: calc(100% + 15px);
  right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px 1px #1a94ff;
  visibility: hidden;
  opacity: 0;
  transform: scale(1.05);
  filter: blur(4px);
  transition: visibility 300ms ease, opacity 200ms linear 100ms, transform 300ms ease 100ms, filter 300ms ease 100ms;
}
.user__container::after {
  content: "";
  border: 8px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  right: 40px;
  top: 0;
  transform: translateY(-100%);
}
.user__detail .nav-link {
  width: 100%;
  display: block;
  padding: 6px 20px;
}
.user__detail .nav-link:hover {
  color: #fff;
  background-color: #222;
}
.user__detail .user-logout {
  width: 100%;
  display: block;
  margin-top: 20px;
  background-color: #1a94ff;
}

.navbar {
  display: flex;
}
.navbar--leftside {
  margin-left: auto;
  justify-content: flex-end;
}
.navbar__mask {
  display: none;
}
.navbar__menu {
  display: flex;
  align-items: center;
}
.navbar__menu li {
  margin-left: 20px;
  margin-right: 20px;
}
.navbar__menu .nav-link {
  padding: 6px 14px;
  border-radius: 4px;
  transition: all 150ms ease;
}
.navbar__menu .nav-link:hover {
  color: #fff;
  background-color: rgba(26, 148, 255, 0.4);
}
.navbar__menu .nav-link.is-active {
  color: #fff;
  background-color: #1a94ff;
}

.page-search {
  width: 300px;
  min-width: 300px;
}
main,
.main {
  padding-top: 100px;
}

@media only screen and (max-width: 1024px) {
  .nav {
    height: 60px;
  }
  .nav__brand {
    font-size: 30px;
  }
  .nav-toggler {
    display: block;
  }

  .navbar {
    position: fixed;
    z-index: -1;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 300ms ease, opacity 200ms linear 100ms;
  }
  .navbar.is-active {
    visibility: visible;
    opacity: 1;
  }
  .navbar--leftside {
    margin-left: auto;
    justify-content: flex-end;
  }
  .navbar__mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .navbar__menu {
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fff;
    margin-left: auto;
  }
  .navbar__menu .nav-link {
    padding: 6px 14px;
    border-radius: 4px;
    transition: all 150ms ease;
  }
  .navbar__menu .nav-link:hover {
    color: #fff;
    background-color: rgba(26, 148, 255, 0.4);
  }
  .navbar__menu .nav-link.is-active {
    color: #fff;
    background-color: #1a94ff;
  }

  .page-search {
    width: 100%;
    min-width: 160px;
    padding: 20px 40px 40px 40px;
    background-color: #fff;
  }
  .page-search input {
    width: 100%;
    border: 1px solid #1a94ff;
  }
}
footer,
.footer {
  margin-top: 60px;
  background-color: #9be2f5;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*# sourceMappingURL=common.css.map */
