/** functions */
@keyframes ani_fav {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.85);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.home__intro {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.home__intro h3 {
  font-size: 40px;
}
.home__intro p {
  margin-top: 40px;
}
.home__intro p .nav-link {
  color: #1a94ff;
}
@media only screen and (max-width: 640px) {
  .home__intro h3 {
    font-size: 28px;
  }
  .home__intro p {
    margin-top: 20px;
  }
}

.search-for-meal {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 16px;
}
.search-for-meal .search-block {
  display: flex;
  align-items: center;
}
.search-for-meal .search-block input {
  border: 1px solid #1a94ff;
}
.search-for-meal .total-meals {
  margin-top: 20px;
}

.meals-lists {
  padding-top: 20px;
  padding-bottom: 20px;
}
.meals-lists h3 {
  text-align: center;
}
.meals-lists .meals-lists-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.meals-lists .item {
  width: calc(25% - 20px);
  margin: 10px;
}
.meals-lists .item figure {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #000;
}
.meals-lists .item figure::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
}
.meals-lists .item figure img {
  opacity: 0.4;
}
.meals-lists .item p {
  color: #1a94ff;
  text-align: center;
  font-size: 18px;
  margin-top: 12px;
}
.meals-lists .item__container {
  position: relative;
}
.meals-lists .item__count {
  font-size: 14px;
  padding-right: 4px;
}
.meals-lists .item__like {
  font-size: 40px;
  color: #fff;
  margin-top: 4px;
}
.meals-lists .item__like.act {
  animation: ani_fav 1000ms ease 0s 1 both;
}
.meals-lists .item__fav {
  font-size: 40px;
  color: #fff;
}
.meals-lists .item__fav.act {
  animation: ani_fav 1000ms ease 0s 1 both;
}
.meals-lists .item__cover {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  text-align: right;
  padding: 2px 10px 10px 2px;
}
.meals-lists .item__more {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 10px;
  font-size: 20px;
  color: #fff;
}
@media only screen and (max-width: 640px) {
  .meals-lists .nav-link {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

.browse-country {
  padding-top: 20px;
  padding-bottom: 20px;
}
.browse-country h3 {
  text-align: center;
}
.browse-country .browse-country-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.browse-country .nav-link {
  width: calc(6.25% - 5.33px);
  margin-left: 5px;
  margin-right: 5px;
}
.browse-country .nav-link img {
  display: block;
  width: 100%;
  transition: transform 150ms ease;
}
.browse-country .nav-link:hover img {
  transform: scale(1.05);
}
@media only screen and (max-width: 640px) {
  .browse-country .nav-link {
    width: calc(10% - 10px);
  }
}

.browse-by-name {
  padding-top: 20px;
  padding-bottom: 20px;
}
.browse-by-name h3 {
  text-align: center;
}
.browse-by-name .browse-by-name-container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.browse-by-name .nav-link {
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px 4px;
  font-size: 20px;
  color: #09b5e5;
  position: relative;
}
.browse-by-name .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #09b5e5;
  transform: scale(0, 1);
  transition: transform 150ms ease;
}
.browse-by-name .nav-link:hover::after {
  transform: scale(1, 1);
}

.detail-food {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.detail-food figure {
  width: 375px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.detail-food figcaption {
  font-size: 30px;
  margin-top: 12px;
  color: #09b5e5;
  text-align: center;
}
.detail-food button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translate(0, -100%);
}
.detail-food button::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%) rotate(45deg);
  border: 8px solid transparent;
  border-radius: 2.5px;
}
.detail-food button::after.is-disable {
  display: none;
}
.detail-food .prev {
  left: 0;
}
.detail-food .prev::after {
  left: 16px;
  border-bottom-color: #09b5e5;
  border-left-color: #09b5e5;
}
.detail-food .next {
  right: 0;
}
.detail-food .next::after {
  left: -6px;
  border-top-color: #09b5e5;
  border-right-color: #09b5e5;
}
.detail-food-lists {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.detail-food-lists .nav-link {
  width: calc(12.5% - 10px);
  margin: 5px;
}
.detail-food-lists .nav-link figcaption {
  text-align: center;
  transition: all 150ms ease;
}
.detail-food-lists .nav-link:hover {
  opacity: 1;
}
.detail-food-lists .nav-link:hover figcaption {
  color: #09b5e5;
  font-weight: 700;
}
.detail-food-inst {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.detail-food-inst .title {
  margin-bottom: 10px;
}
@media only screen and (max-width: 640px) {
  .detail-food {
    padding-top: 0;
  }
  .detail-food figure {
    max-width: calc(100% - 100px);
  }
  .detail-food figcaption {
    font-size: 24px;
  }
  .detail-food button::after {
    width: 30px;
    height: 30px;
  }
  .detail-food .next::after {
    left: 4px;
  }
  .detail-food-lists {
    margin-left: -5px;
    margin-right: -5px;
  }
  .detail-food-lists .nav-link {
    width: calc(25% - 10px);
  }
  .detail-food-inst {
    padding-bottom: 0;
    text-align: left;
  }
}

.letter-food-lists {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: -10px;
  margin-right: -10px;
}
.letter-food-lists .nav-link {
  width: calc(20% - 20px);
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.letter-food-lists .nav-link figcaption {
  text-align: center;
  transition: all 150ms ease;
}
.letter-food-lists .nav-link:hover {
  opacity: 1;
}
.letter-food-lists .nav-link:hover figcaption {
  color: #09b5e5;
  font-weight: 700;
}
@media only screen and (max-width: 640px) {
  .letter-food-lists {
    padding-top: 0;
  }
  .letter-food-lists .nav-link {
    width: calc(50% - 20px);
  }
}

/*# sourceMappingURL=home.css.map */
