//* home */
.home {

    &__intro {
        padding-top: 40px;
        padding-bottom: 40px;

        text-align: center;

        h3 {
            font-size: 40px;
        }

        p {
            margin-top: 40px;

            .nav-link {
                color: $c_primary;
            }
        }
    }

    @include screen(640px) {
        &__intro {
            h3 {
                font-size: 28px;
            }

            p {
                margin-top: 20px;
            }
        }
    }
}

//** search-for-meal */
.search-for-meal {
    text-align: center;

    padding-top: 20px;
    padding-bottom: 16px;

    .search-block {

        display: flex;
        align-items: center;

        input {
            border: 1px solid $c_primary;
        }
    }

    .total-meals {
        margin-top: 20px;
    }
}

.meals-lists {
    padding-top: 20px;
    padding-bottom: 20px;

    h3 {
        text-align: center;
    }

    .meals-lists-content {
        display: flex;
        flex-wrap: wrap;

        margin-left: -10px;
        margin-right: -10px;

        padding-top: 20px;
        padding-bottom: 20px;
    }

    .item {
        width: calc(25% - 20px);
        margin: 10px;

        figure {
            width: 100%;
            display: block;
            overflow: hidden;

            position: relative;

            background-color: #000;

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
                left: 0;
                bottom: 0;
                // background-color: rgba($color: #000000, $alpha: 0.4);
            }

            img {
                opacity: 0.4;
            }
        }

        p {
            color: $c_primary;
            text-align: center;
            font-size: 18px;
            margin-top: 12px;
        }

        &__container {
            position: relative;
        }

        &__count {
            font-size: 14px;
            padding-right: 4px;
        }

        &__like {
            font-size: 40px;
            color: #fff;

            margin-top: 4px;

            &.act {
                animation: ani_fav 1000ms ease 0s 1 both;
            }
        }

        &__fav {
            font-size: 40px;
            color: #fff;

            &.act {
                animation: ani_fav 1000ms ease 0s 1 both;
            }
        }

        &__cover {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;

            text-align: right;

            padding: 2px 10px 10px 2px;
        }

        &__more {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;

            padding: 10px;

            font-size: 20px;
            color: #fff;
        }
    }

    .meals-latest {}

    @include screen(640px) {

        .nav-link {
            width: calc(50% - 20px);
            margin: 10px;
        }
    }
}

.browse-country {
    padding-top: 20px;
    padding-bottom: 20px;

    h3 {
        text-align: center;
    }

    .browse-country-container {
        display: flex;
        flex-wrap: wrap;

        margin-left: -5px;
        margin-right: -5px;

        padding-top: 20px;
        padding-bottom: 20px;
    }

    .nav-link {
        width: calc(6.25% - 5.33px);
        margin-left: 5px;
        margin-right: 5px;

        img {
            display: block;
            width: 100%;
            transition: transform 150ms ease;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    @include screen(640px) {
        .nav-link {
            width: calc(10% - 10px);
        }
    }

}

.browse-by-name {
    padding-top: 20px;
    padding-bottom: 20px;

    h3 {
        text-align: center;
    }

    .browse-by-name-container {
        text-align: center;

        padding-top: 20px;
        padding-bottom: 20px;
    }

    .nav-link {
        margin-left: 5px;
        margin-right: 5px;
        padding: 2px 4px;

        font-size: 20px;
        color: #09b5e5;

        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 2px;

            border-radius: 1px;

            background-color: #09b5e5;

            transform: scale(0, 1);
            transition: transform 150ms ease;
        }

        &:hover {
            &::after {
                transform: scale(1, 1);
            }
        }
    }

}