footer,
.footer {
    margin-top: 60px;

    background-color: #9be2f5;
    width: 100%;

    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-menu {}

.footer-copy-right {}

.footer-group-site {}

.footer-qoute {}